*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    padding: 15px;
    /* background-color: aqua; */
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8) , rgba(40, 180, 133, 0.8)), url('');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* https://bennettfeely.com/clippy/ */
  }
  
  .logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
  
  }
  .logo{
    height:80px;
  }
  .text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heading-primary{
    color: #fff;
    /* text-transform: uppercase; */
  }
  .heading-primary-main{
    display: block;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 5px;
  }
  .heading-primary-sub{
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1px;
    color: #333333
    
  }

  @media screen and (max-width: 430px) {
      .heading-primary-main{ 
        font-size: 14px;
    }
    
  }
  @media screen and (max-width: 950px) {
    .text-box{ 
      top: 50%;
  }
  .heading-primary-main{
    font-size: 16px;
  }
}